{% extends "base.j2" %}


{% block content %}
<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="{{ url_for('static', filename='/images/penny.jpg') }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Pennies</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="{{ url_for('static', filename='/images/nickel.jpg') }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Nickels</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="{{ url_for('static', filename='/images/dime.jpeg') }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Dimes</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>
  </div>
</div>
<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="{{ url_for('static', filename='/images/quarter.jpg') }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Quarters</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="{{ url_for('static', filename='/images/half-dollar.jpg') }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Half-Dollars</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="{{ url_for('static', filename='/images/dollar.jpeg') }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Dollar-Coins</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>
  </div>
</div>
{% endblock content %}