{% extends "base.j2" %}

{% block content %}
    <h2>Collection</h2>
    <form action="" method="post" novalidate>
    {{ form.hidden_tag()}}
    <p>
        {{form.year.label}}<br>
        {{form.year(size=32)}}
    </p>
  
    <p>
        {{form.type.label}}<br>
        {{form.type(size=32)}}
    </p>
  
    <p>
        {{form.grade.label}}<br>
        {{form.grade(size=32)}}
    </p>
  
    <p>{{form.submit()}}</p>
</form>

{% endblock content %}
    <h2></h2>